.add-button {
    padding: 10px 20px;
    background-color: #7367f0;
    border: none;
    color: #ffffff;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .add-button i {
    margin-right: 5px;
  }
