<app-dynamictable *ngIf="isShow" [PageName]="'Charge-Limits-History'" [ColoumnOfName]="coloumnName" [RowOfData]="rows" [formFields]="formFields" 
[TotalRecord]="totalrecord" [CurrentPages]="searchModel!.currentPage"(sortField)="onSort($event)" (id)="onDelete($event)" [isShowAddDelete]="false"
(searching)="onSearch($event)" (currentpage)="onGetPage($event)" (SubmitForm)="onCreate($event)" (UpdateForm)="onEdit($event)" [isShowEdit] = "false" [isShowEyeIcon]="false"
[RowOfDataForExcel]="rowOfDataForExcel"></app-dynamictable>